.Button {
    border: none;
    border-radius: 6px;
    font-size: 1.02vw;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
.Button--secondary {
  background-color: transparent;
  color: var(--text-color);
  border: 2px solid var(--button_secondary-color);
}
  
.Button--primary,
.Button:hover {
  border: 2px solid var(--primary-color);
  background-color: var(--primary-color);
  color: var(--card-color);
}
  
.Button--big {
  width: 20%;
  height: 100%;
}
  
.Button--normal {
  width: 14%;
  height: 100%;
}
  
.Button--small {
  width: 10%;
  height: 100%;
}
  

@media screen and (max-width: 768px) {
    Button {
        font-size: 2vw;
    }
}