.LoginPage__container {
    background: url(../../assets//images/MenuBG.svg);
    background-size: cover;
    position: relative;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    margin: auto;
}

.LoginPage__block {
    flex-direction: column;
    align-items: center;
    width: 46%;
    height: 56%;
}

.LoginPage__form {
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 70%;
    background-color: var(--card-color);
    border-radius: 10px;
    border: 1px solid var(--button_secondary-color);
}

.form__block-inputs {
    width: 80%;
    height: 44%;
    flex-direction: column;
    justify-content: space-between;
}

.form__item {
    width: 100%;
    height: 34%;
    align-items: center;
}

.form__text {
    font-size: 1.2vw;
    color: var(--count_text-color);
}

.form__item input {
    width: 76%;
    height: 100%;
    font-size: 1.2vw;
    border: 2px solid var(--button_secondary-color);
    background-color: var(--form_input-color);
    border-radius: 10px;
}

.form__block-buttons {
    width: 46%;
    height: 18%;
}

.form__block-buttons button {
    width: 46%;
    font-size: 1.1vw;
}

@media screen and (max-width: 768px) {
    .LoginPage__container {
      height: 50vh;
    }

    .LoginPage__block {
        width: 80%;
    } 

    .form__text, .form__item input {
        font-size: 2vw;
    }

    .form__block-buttons button {
        font-size: 2.8vw;
    }
  }